body {
  margin: 0;
  padding: 0 1.6em;
  font-family: 'Oswald Stencil', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-size: 100% 100%;
  background-position: center;
  background-color: currentColor;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:is( h1, h2 ) {
  margin: 0;
}

div#root {
  height: 100vh;
}

video {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: fill;
  z-index: -1;
}